*{
    box-sizing: border-box;
}

:root{
    --main_background:#F5F5DC ;
    --main_text_color:#333333;
    --secondary_background:#FFFFFF;
    --color-button:#4CAF50;
    --color-title:#4CAF50;
    --title-font: playfair display;
    --text-font:poppins;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) and (max-width: 1024px){
    
}

main{
    background-color: var(--main_background);
}

h1{
    font-family: var(--text---font);
    color: var(--color-title);
}

ul ol a{
    font-family: var(--text---font);
    color: var(--color-title);
}

p{
    font-family: var(--text---font);
    color: var(--main_text_color);
}