*{
    box-sizing: border-box;
}
:root{
    --main_background:#F5F5DC ;
    --main_text:#333333;
    --secondary_background:#FFFFFF;
    --color-button:#4CAF50;
    --title-font: playfair display;
    --text-font:poppins;
}

h1{
    font-family: var(--text---font);
}

p{
    font-family: var(--text---font);
}