main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-intro{
  text-align: center;
}

.home-intro h2{
  padding: 60px 40px 0px 40px;
  color: var(--color-title);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 600;
  font-weight: bolder;
}

.home-intro, .home-filter label{
  padding: 0px 40px;
  color: var(--main_text_color);
  font-family: var(--text-font);
  font-size: 1rem;
  line-height: 3;
}

img {
  max-width: 100%;
}

.home-cards-group {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 150px;
}

.sylva,
.boheme,
.natura,
.levitee {
  border: 1px solid #00000036;
  border-radius: 15px; 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.8);
  display: grid;
  grid-template-rows: max-content 450px 1fr;
}

.sylva h2,
.boheme h2,
.natura h2,
.levitee h2 {
  margin: 0;
  padding: 10px 10px 20px 20px;
  color: var(--color-title);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 600;
  font-weight: bolder;
}

.btn-know-more {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 0px 20px 20px 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background-color: var(--color-button);
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%), inset -2px -2px 3px rgb(0 0 0 / 60%);
  color: var(--contrast);
  font-family: var(--text-font);
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;
}

.home-content {
  padding: 40px 20px 10px 20px;
  color: var(--main_text_color);
  font-family: var(--text-font);
  font-size: 1rem;
}

.explanations{
  display: flex;
  justify-content: space-evenly;
}

.inclusives li{
  padding-right:55px  ;
}

.activities,
.inclusives {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 30px 0 80px 0;
}

.activities h2,
.inclusives h2 {
  padding: 0 0 40px 0;
  color: var(--color-title);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-weight: 600;
  font-weight: bolder;
}

.activities li,
.inclusives li {
  position: relative;
  padding-left: 60px;
}

.activities li::before,
.inclusives li::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.activities li.checked-home::before,
.inclusives li.checked-home::before {
  background-image: url('./../images/hebergements/check-mark.png');
}