.hero-picture-title{
    position: relative;
}

.hero-picture-title img {
    width: 100%;
    height: 500px;
    position: relative;
    max-width: 100%;
    display: flex;
    overflow: hidden;
    /* Cache les parties de l'image qui dépassent */
    object-fit: cover;
    /* L'image remplit toute la zone sans se déformer */
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

.hero-picture-title h2 {
    position: absolute;
    top: 10vh;
    left: 4vw;
    padding: 0 0 0 30px;
    color: var(--contrast);
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0px 0px 10px var(--contrast);
}

h2 span {
    position: relative;
    top: 8vh;
    left: 14vw;
    font-size: 3rem;
    font-style: italic;
}

p span {
    display: inline-block;
    font-size: 1.2rem;
    font-style: italic;
    text-shadow: 0px 0px 10px var(--contrast);
    transition: transform 0.3s ease, left 0.3s ease;
    transform-origin: left center;
}

p span:hover {
    transform: scale(1.2);
}

.compagny-brief {
    position: absolute;
    top: 200px;
    left: 6%;
}

.compagny-brief span{
    text-decoration: none;
    color: var(--contrast);
}

.compagny-brief p {
    padding: 20px 0 0 0;
    color: var(--contrast);
    font-family: var(--text-font);
    font-size: 1rem;
    line-height: 1.8;
    white-space: pre-line;
}

.contact-us-home {
    position: absolute;
    top: 60vh;
    left: 35vw;
    padding: 0 0 0 30px;
    font-family: var(--text-font);
    text-shadow: 0px 0px 10px var(--contrast);
    font-size: 1.2rem;
}

.contact-us-home p {
    color: var(--contrast);

}

.contact-us-home a {
    text-decoration: none;
    color: var(--contrast);
}

.contact-us-home span {
    font-weight: 500;
}

.btn-style {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-button);
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%), inset -2px -2px 3px rgb(0 0 0 / 60%);
    color: var(--contrast);
    font-family: var(--text-font);
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
}
    

.btn-style:hover,
.home-preview:hover {
    background-color: var(--color-deeper-button);
}

.btn-style:active,
.home-preview:active {
    box-shadow: inset -2px -2px 3px rgb(255 255 255 / 60%), inset 2px 2px 3px rgb(0 0 0 / 60%);
}

.hebergements-visual {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 5%;
}

.hebergements-visual img {
    width: 100%;
    height: auto;
    padding-top: 30px;
    object-fit: cover;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transition: 0.3s ease-out;
}

.hebergements-visual img:hover {
    transform: scale(1.01);
}

.home-gallery{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.home-gallery a {
    display: flex;
    width: 30%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.home-preview {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 12vh;
    margin: 0 auto;
    padding: 5px 20px;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-button);
    box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%), inset -2px -2px 3px rgb(0 0 0 / 60%);
    color: var(--contrast);
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    text-shadow: 1px 1px 1px #000;    
}

.home-preview:hover {
    transform: scale(1.1);
}

.avis-groupe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 50px 0;
    font-family: var(--text-font);
    overflow: hidden;
    position: relative;
}

.avis_seul {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.avis_seul p{
    padding-top: 10px;
}

.checked {
    color: orange;
  }

.burger-menu{
    display: none;
    width: 0%;
    color: var(--color-deeper-button);
    font-size: 2rem;
    text-decoration: none;
}

@media screen and (max-width: 1440px){

    .compagny-brief{
        top: 200px;
    }
}


@media screen and (max-width: 1200px) {

    header h1{
        display: none;
    }

    .burger-menu{
        display: none;
    }

    .home-gallery img, .home-preview{
        flex-basis: 80%;
        flex-wrap: wrap;
    }
}

