header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin:0;
    padding: 30px;
    background: url("./../images/banner_green_bkg.png") center center / cover no-repeat;
    box-shadow: 0px 3px 5px 2px #00000077;
}

.logo-slogan{
    width: 100%;
}

.logo-header{
    width: 15vw;
    height: auto;
    color: inherit;
    text-align: center;
    align-items: center;
}

.titre-header-logo{
    width: 100%;
    padding: 0 0 0 1vw;
    font-size: 1rem;
    -webkit-text-stroke: 0.2px #3f7541;
}

.nav-main{
    width: 70%;
    height: auto;
    padding: 0 20px 0 0;
    text-align: center;
}

.nav-main ul{
    display: flex;
    justify-content: space-between;
}

.nav-main li{
    padding: 20px;
    text-decoration-color: transparent;
    transition: 0.2s ease-in-out;
}

.nav-main li:hover{
    transform: translateY(-2px);
    text-shadow: 0.5px 0.5px 0.5px rgb(97, 97, 97);
    text-decoration: underline;
    text-decoration-color: #1d6120;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.nav-main a{
    color:#1d6120;
    font-family:var(--text-font);
    font-size: 1.5rem;
    font-weight:500;
    text-decoration: none;
    white-space: nowrap;
    -webkit-text-stroke: 0.2px #264b275d;
    text-shadow: 0px 0.5px 0px rgba(49, 151, 74, 0.527);
}

footer{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    background: url("./../images/banner_green_bkg.png") center center / cover no-repeat;
    box-shadow: 5px 0px 5px 2px #00000077;
    font-family: var(--text-font);
    font-size:0.7rem;
}

.social-media{
    width: 8%;
    height: auto;
    text-align: center;
}

.plateformes img{
    width: 30%;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
}

.plateformes a{
    text-decoration: none;
    color: inherit;
}

.plateformes img:hover{
    transform: scale(1.2);
}

#logo-compagny-social{
    width: 70%;
    height: auto;
    padding: 0 0 6px 0;
    border-bottom: solid 1px black;
    justify-items: center;
    transition: 0.3s ease-out;
}

.logo-compagny-social img:hover{
    border-radius: 3px;
    box-shadow: 0px 0px 10px 5px #00000059;
}

.compagny-contact{
    width: 20%;
    height: auto;
    padding: 0 0 0 10px;
    font-family: var(--text-font);
    font-size: 0.9rem;
    text-align: justify;
}

.compagny-contact h3,p{
    padding-bottom: 3px;
}

.compagny-contact h3{
    font-weight: 550;
}

.compagny-contact p{
    padding-top: 3px;
}

.adding-informations{
    width: 20%;
    height: auto;
    padding: 0 10px 0 0;
    text-align: center;
    font-size: 0.9rem;
}

.adding-informations h3{
    padding-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 550;
}

.adding-informations li a{
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 5px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out;
}

.adding-informations li a:hover{
    transform: translateY(-2px);
    text-shadow: 0.5px 0.5px 0.5px rgb(97, 97, 97);
}

.copyright{
    width: 100%;
    height: auto;
    padding: 30px 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (max-width: 1440px){

    .burger-menu{
        display: none;
    }

    .social-media{
        width: 12%;
        height: auto;
    }
}

@media screen and (max-width: px){

}