header{
    margin: auto;
    width: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px 0px #b3b2b2;
    background: url("./../images/banner_bkg.png") center center / cover no-repeat;
}

.logo-header{
    height: auto;
    width: 30%;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

header h1{
    padding: 0 0 0 10px;
}

header nav{
    height: auto;
    width: 25%;
    padding: 0 20px 0 0;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

header nav ul{
    display: flex;
    gap: 5%;
}

header nav li{
    padding: 10px;
}

header nav li:hover{
    transform: translateY(-2px);
    transition: 0.3s ease-out;
    text-shadow: 0.5px 0.5px 0.5px rgb(97, 97, 97);
    text-decoration: underline;
}

header nav a{
    font-family:var(--text-font);
    font-weight:500;
    font-size: 1.25rem;
    text-decoration: none;
    color:var(--main-text);
}

footer{
    margin: auto;
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 5px 0px #b3b2b2;
    font-family: var(--text-font);
    font-size:0.7rem;
}

.social-media{
    height: auto;
    width: 20%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.plateformes img{
    height: auto;
    width: 12%;
    padding: 10px;
}

.plateformes a{
    text-decoration: none;
    color: inherit;
}

.logo-compagny-social img{
    height: auto;
    width: 13%;
    padding: 0 0 6px 0;
    justify-items: center;
    border-bottom: solid 1px black;
}

.compagny-contact{
    height: auto;
    width: 20%;
    align-items: center;
    vertical-align: middle;
    text-align: justify;
}

.compagny-contact h3,p{
    padding-bottom: 3px;
}

.compagny-contact h3{
    font-weight: 550;
}

.compagny-contact p{
    padding-top: 3px;
}

.adding-informations{
    height: auto;
    width: 20%;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.adding-informations h3{
    font-weight: 550;
    padding-bottom: 10px;
}

.adding-informations li a{
    padding-top: 3px;
    padding-bottom: 5px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.adding-informations li a:hover{
    transform: translateY(-2px);
    transition: 0.3s ease-out;
    text-shadow: 0.5px 0.5px 0.5px rgb(97, 97, 97);
}

.copyright{
    height: auto;
    width: 100%;
    padding: 30px 0 0 0;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: 0.6rem;
}